.footer {
    background: url(../img/map/bg-footer.jpg) center/cover no-repeat;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;



    &__container {
        display: flex;
        align-items: center;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;

        @include phone {

            flex-direction: column;

        }
    }

    &__left {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @include phone {
            width: 100%;
            align-items: center;
            margin-bottom: 1rem;

        }
    }

    &__adress {
        margin-bottom: 0.25rem;
    }

    &__right {
        width: 50%;

        @include phone {
            width: 100%;

        }
    }
}

.tel {

    display: flex;
    align-items: center;

    &__icon {
        width: 0.6875rem;
        height: 0.6875rem;
        margin-right: 0.5rem;
    }

    &__number {
        color: #e45028;
        font-weight: 700;
    }
}

.socials {
    text-align: right;

    @include phone {
        text-align: center;
    }

    &__list {
        display: inline-flex;
        align-items: center;
    }

    &__item {
        margin-right: 1.25rem;

        &:last-child {
            margin-right: 0;
        }
    }

    &__img {
        width: 1.25rem;
        height: 1.25rem;
        opacity: 0.3;
        transition: .3s;

        &:hover {
            opacity: 1;
        }

    }
}
